
#song-details {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .song-title {
    font-size: 1.4rem;
  }
  .artist {
    font-size: .8rem;
    color:  #abb3c7;
  }