@import url("https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&family=Public+Sans:wght@100;300;400;600&display=swap");

* {
  margin: 0;
}

button:hover,
.button {
  cursor: pointer;
}

/* button:focus{
  outline: none;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: transparent;
  outline: none;
} */